canvas{
	border: 2px solid black;
}

main {
    margin: 5% 15% 0% 15%;
    background: hsla(210,100%,80%,1);
    width: 70%;
    color: black;
    text-align: center;
}

h2,p{
    font-size: 30px;
    margin: 2%;
}
