* {
	box-sizing: border-box;
}

.htmlAuthors {
	background: url(../img/footer_lodyas.png);
}

p {
	color: aliceblue;
}

figcaption {
	color: aliceblue;
	text-decoration: underline;
}

h3,
h4 {
	color: antiquewhite;
	font: cursive;
}

.art {
	padding-top: 0%;
	background: url(../img/footer_lodyas.png);
}

.h2Main {
	background: url(../img/footer_lodyas.png);
	color: antiquewhite;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 4%;
}

.pMain {
	color: aliceblue;
	font-size: 1.2em;
	text-align: center;
}

.figMain {
	color: white;
}

main {
	margin-top: 5%;
}
