#game-field {
    background-color: lightgrey;
    margin: 5%;
}

.memory-card {
    float: left;
    margin: 1%;
    width: 23%;
    height: 150px;
    visibility: hidden;
    background-color: blue;
    box-shadow: 3px 3px darkgrey;
}

.memory-card:active {
    box-shadow: none;
}

.memory-text {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
    visibility: hidden;
    width: 100%;
    font-size: 1.5em;
    color: white;
}

main {
    margin: 2% 25% 10% 25%;
}

section {
    font-size: 1.5rem;
    padding: 4% 6% 0% 6%;
}

h2 {
    margin-bottom: 5%;
}

button {
    background-color: lightskyblue;
    font-size: 0.6em;
    box-shadow: 2px 2px grey;
    padding: 1.5%;
    margin-right: 3%;
    margin-top: 40px;
}

button:active {
    box-shadow: none;
}
