* {
    box-sizing: border-box;
}

/* Zunächst werden die Schriftarten und Verhältnisse zwischen den
einzelnen Schriftgrößen definiert. */

html {
    font-size: 18px;
    font-family: fantasy;
    background-color: #efefef;
}
p {
    font-size: 1rem;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.1rem;
}
small {
    font-size: 0.8rem
}

/* Die Elemente werden jetzt im DOM mit Hilfe von Margin und Float richttig positioniert. Es folgt die Anpassung an das body-Element. Anschließend werden Größen in Prozent angegeben, um
die Seite responsiv zu gestalten. */

body * {
    float: left;
}
body {

}
header {
    width: 100%;
    height: 65px;
    background-color: lightblue;
}
main {
    margin: 5% 0% 5% 0%;
}
nav ul {
    width: 100%;
    height: 65px;
    padding: 0% 3% 0% 3%;
}
nav ul li {
    padding: 2%;
}
header figure {
    width: 20%;
    float: right;
    height: 100%;
}
header figure img {
    height: 100%;
    margin: 0% 10% 0% 0%;
    float: right;
}
nav iframe {
    width: 100%;
    height: 65px;
    border: none;
}
header figcaption {
    display: none;
}
header>h1 {
    display: none;
}
nav {
    width: 80%;
    background-color: lightblue;
}
p {
    padding: 2.5%
}
article {
    margin: 2.5% 0% 2.5% 0%;
}

/* tempäre Farbgebung zum leichten Workflow */
main {
    background-color: blueviolet;
}
article {
    background-color: darkgreen;
}
section {
    background-color: darkorange;
}
footer {
    background-color: deeppink;
}
