main {
	margin: 8% 20% 0% 20%;
    width: 60%;

}


/* Beginn der Anpassung an mobile Geräte */


/* Breakpoint für Tablets */

@media screen and (max-width:800px) {
    main {
        margin: 8% 5% 0% 5%;
        width: 90%;
    }
}

/* Breakpoint für Smartphones */

@media screen and (max-width:600px) {
        nav iframe {
        min-height: 340px;
        position: relative;
    }
    main {
        margin: 8% 5% 0% 5%;
        width: 90%;
    }
}
